{% extends 'base.html' %}

{% block title %}FLASK{% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Fluid jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>

    <div class="container" align="left">
        <embed type="image/svg+xml" src={{ graph_data|safe }} style='max-width:1000px'/>
    </div>

    <div class="container" align="left">
        <embed type="image/svg+xml" src={{ line_data|safe }} style='max-width:1000px'/>
    </div>

     <div class="container" align="left">
        <embed type="image/svg+xml" src={{ line_some|safe }} style='max-width:1000px'/>
    </div>


{% endblock %}


